html
    head
        title Users
body
    div#main
        a(href="/") Home
        |
        |
        a(href="/users") Users
        |
        |
        a(href="/register") Register
        h1 Restaurant Ordering System Users:
        each user in userList
            a(href="/users/" + user._id) #{user.username}
            br